GEMINI_API_KEY=AIzaSyAX2rZm4I5BuXk6FCsMXA7od5godAm1TJQ
OPENAI_API_KEY=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

DEFAULT_PROVIDER=gemini
DEFAULT_TARGET_LANG=en
